<h1>The words you've learned</h1>
<div class="container">
  <%#= will_paginate @words %>
  <table id="user-words">
    <thead>
      <tr>
        <th>Word</th>
        <th>Correct Answer</th>
        <th>Your Answer</th>
        <th>correctness</th>
      </tr>
    </thead>
    
    <tbody>
      <%= render partial: 'lessons/lesson_word', collection: @lesson_words %>
    </tbody>
  </table>
  <%#= will_paginate @words %>
</div>