@import "bootstrap-sprockets";
@import "bootstrap";

/*===========================================================
            Mixins, Variables, etc
===========================================================*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*===========================================================
            Universal
===========================================================*/

html {
  font-size: 10px;
}

body {
  padding-top: 70px;
}

.center {
  text-align: center;
}


/*===========================================================
            Typography
===========================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3rem;
  // margin: 40px 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin: 40px 0;
  text-align: center;
}

p {
  font-size: 1.3rem;
  text-align: left;
}


/*===========================================================
            Home
===========================================================*/

.home-container {
  margin: 50px auto 0;
  width: 455px;
}

div.banner {
  width: 100%;
  margin: 0 auto;
}

div.banner img {
  max-width: 100%;
  display: block;
  margin: 0 auto 50px;
}


/*===========================================================
            Header
===========================================================*/

#logo {
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  padding-top: 7px;
}

#logo:hover {
  text-decoration: none;
}

nav {
  background-color: #59BFE0;
}

header.navbar-fixed-top {
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #555;
}

div.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/*===========================================================
            Footer
===========================================================*/

footer {
  margin-top: 60px;
  padding: 25px 0;
  background-color: #eee;
}

footer p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}


/*===========================================================
            Forms
===========================================================*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

div.col-md-4 {
  background-color: #eee;
  border-radius: 5px;
}

div.col-md-4 input {
  border-radius: 5px;
}

div.form-container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

div.form {
  margin-top: 50px;
}

input.btn {
  background-color: #44BDDC !important;
  border: none;
}

#error_explanaton {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.chackbox {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/*===========================================================
            Users index
===========================================================*/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/*===========================================================
            Sidebar
===========================================================*/

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}